* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	padding: 10px;
}
.post {
	border: 2px solid teal;
	text-align: center;
	padding: 20px;
	width: 50%;
}

p {
	color: gray;
}
